
<div style="background-color: #F5F6F9; padding: 10px;">

<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <span>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="ads_click"></mat-icon> 
                <br>
              Setores Corporativos
            </span>
          </ng-template>
      
         </mat-tab>
    <mat-tab >
        <ng-template mat-tab-label>
            <span>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="ads_click"></mat-icon> 
                <br>
              Tags de processos
            </span>
          </ng-template> </mat-tab>
    <mat-tab >
        <ng-template mat-tab-label>
            <span>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="ads_click"></mat-icon> 
                <br>
             Processos
            </span>
          </ng-template> </mat-tab>
  </mat-tab-group>

</div>