input {
    width: 90%;
    padding: 14px;
    margin: 10px;
    border: solid 1px #CFD2DD;
    border-radius: 4px;
    background-color: #F2F3F6;
}

mat-label {
    margin-right: 20px;
    font-size: 13px;
    font-weight: 550;
}