<!-- <div style="padding: 2em; background-color: #F5F6FA;">
<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div>
        <div style="display: flex; align-items: center; padding: 1em; color: #ABB0C0; border-bottom: 1px solid #EBEDF2">
            <span style="width: 61%; margin-left: 30px;">Setor Corporativo</span>
            <span style="width: 30%;">Situação</span>
            <span >Ações</span>
        </div>
    </div>
    <div cdkDrag  *ngFor="let item of items" >
        <blue-gerenciador-ambiente (modalRemove)="openDialog()" (modalEditar)="openEditar()" [item]="item" drag="true"></blue-gerenciador-ambiente>
        </div>
        </div>
    </div>

    <div style="padding: 2em">
    <bpm-color-picker></bpm-color-picker>
</div> -->

<div style="padding: 2em">
  <usi-table [items]="items" [initColumns]="displayedColumns" (editEvent)="openEditar()" (removeEvent)="openDialog()"></usi-table>
</div>

<div style="padding: 2em">
  <usi-table [items]="itemsTeste" (editEvent)="openEditar()" [initColumns]="displayedColumnsTeste"></usi-table>
</div>
<router-outlet></router-outlet>
