<table mat-table cdkDropList  (cdkDropListDropped)="drop($event)" [dataSource]="items" class="mat-elevation-z8">

    <div>

<ng-container *ngFor="let column of initColumns; let index = index" [matColumnDef]="column.name">
  <th mat-header-cell *matHeaderCellDef> {{column.title}} </th>
  <td  mat-cell *matCellDef="let element"> 
    <usi-components-show [component]="column.type" [element]="element" [opts]="column.opts" (editEvent)="editFunction()" (removeEvent)="removeFunction()"></usi-components-show>
  </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr cdkDrag mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</div>
</table>