<div style="display: flex; align-items: center;">
    <mat-radio-group (change)="changeColor()" [(ngModel)]="corPersonalizada" aria-label="Select an option">
        <mat-radio-button *ngFor="let item of colors" [value]="item">
            <div [ngStyle]="{'background-color': item, 'border-radius': '5px'}" class="color"></div>
        </mat-radio-button>
    </mat-radio-group>
    <div class="divisoria">
    </div>
    <mat-label style="color: #7D8599;">
        Escolha cor personalizada:
        <input (ngModelChange)="changeColor()" readonly
            [ngStyle]="{'width': '35px', 'height': '35px', 'background-color': corPersonalizada, 'color': corPersonalizada}"
            [(ngModel)]="corPersonalizada" matInput [ngxMatColorPicker]="picker">
        <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
        <ngx-mat-color-picker #picker></ngx-mat-color-picker>
    </mat-label>
</div>